 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1329px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 400;
  width: 882px;
  margin: 97px auto 0;
}

.u-section-1 .u-line-1 {
  width: 849px;
  transform-origin: left center 0px;
  margin: 25px auto 0;
}

.u-section-1 .u-gallery-1 {
  height: 365px;
  grid-gap: 17px 17px;
  margin-top: 46px;
  margin-bottom: 0;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-text-2 {
  margin: 146px auto 0;
}

.u-section-1 .u-video-1 {
  height: 360px;
  width: 640px;
  margin: 25px auto 60px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1436px;
  }

  .u-section-1 .u-gallery-1 {
    height: 299px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1850px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-line-1 {
    width: 720px;
  }

  .u-section-1 .u-gallery-1 {
    height: 713px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2719px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1638px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-1 .u-video-1 {
    height: 304px;
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2012px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1044px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-1 .u-video-1 {
    height: 191px;
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 442px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 46px;
  margin-bottom: 46px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 26px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 26px auto 0;
}

.u-section-2 .u-line-1 {
  transform-origin: center top 0px;
  position: absolute;
  top: 1px;
  left: 0;
  height: 359px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 200px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  width: 87px;
  height: 87px;
  margin: 27px auto 0;
  padding: 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 200px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  width: 87px;
  height: 87px;
  margin: 27px auto 0;
  padding: 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 200px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  width: 87px;
  height: 87px;
  margin: 27px auto 0;
  padding: 0;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 200px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  width: 116px;
  margin: 32px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 723px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 124px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 124px;
  }

  .u-section-2 .u-line-1 {
    transform-origin: left center 0px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 165px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 165px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 165px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 165px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 126px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 126px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 126px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 669px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 378px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 378px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 378px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 529px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 119px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 238px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 238px;
  }
}