 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 741px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  width: 746px;
  margin: 37px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 37px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 434px;
}

.u-section-1 .u-container-layout-1 {
  padding: 15px 0;
}

.u-section-1 .u-text-2 {
  margin: 11px auto 0;
}

.u-section-1 .u-video-1 {
  height: 308px;
  width: 547px;
  margin: 21px auto 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 434px;
}

.u-section-1 .u-container-layout-2 {
  padding: 26px 6px;
}

.u-section-1 .u-text-3 {
  margin: 0 auto;
}

.u-section-1 .u-video-2 {
  height: 308px;
  width: 547px;
  margin: 21px auto 0;
}

.u-section-1 .embed-responsive-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1293px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 358px;
  }

  .u-section-1 .u-video-1 {
    height: 265px;
    width: 470px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 358px;
  }

  .u-section-1 .u-video-2 {
    height: 258px;
    width: 458px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 608px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 30px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-video-1 {
    height: 203px;
    width: 360px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-video-2 {
    height: 196px;
    width: 348px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1715px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 988px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    margin-top: 38px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 38px;
  }

  .u-section-1 .u-video-1 {
    height: 192px;
    width: 340px;
  }

  .u-section-1 .u-video-2 {
    height: 185px;
    width: 328px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 663px;
}

.u-section-2 .u-text-1 {
  margin: 25px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: -21px;
  margin-bottom: 58px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 558px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 300px;
  height: 300px;
  margin: 55px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 21px auto 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-text-3 {
  background-image: none;
  margin: 21px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 558px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-image-2 {
  width: 200px;
  height: 301px;
  margin: 54px auto 0;
}

.u-section-2 .u-text-4 {
  margin: 21px auto 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-text-5 {
  margin: 21px auto 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 558px;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-2 .u-image-3 {
  width: 300px;
  height: 300px;
  margin: 65px auto 0;
}

.u-section-2 .u-text-6 {
  margin: 21px 18px 0 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-text-7 {
  margin: 21px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 626px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 493px;
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 460px;
  }

  .u-section-2 .u-image-1 {
    width: 253px;
    height: 253px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 460px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 460px;
  }

  .u-section-2 .u-image-3 {
    width: 253px;
    height: 253px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 711px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 26px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 26px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    width: 180px;
    height: 180px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-image-3 {
    width: 180px;
    height: 180px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 811px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 2029px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1506px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 9px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 452px;
}

.u-section-3 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 21px;
  margin-bottom: 29px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 339px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-3 .u-image-1 {
  width: 187px;
  height: 105px;
  margin: 29px 22px 0 auto;
}

.u-section-3 .u-text-2 {
  margin: -67px auto 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-image-2 {
  width: 187px;
  height: 105px;
  margin: 94px 22px 0 auto;
}

.u-section-3 .u-text-3 {
  margin: -67px auto 0 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 339px;
}

.u-section-3 .u-container-layout-2 {
  padding: 29px 0;
}

.u-section-3 .u-image-3 {
  width: 187px;
  height: 105px;
  margin: 0 60px 0 auto;
}

.u-section-3 .u-text-4 {
  margin: -67px auto 0 49px;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-image-4 {
  width: 187px;
  height: 105px;
  margin: 94px 60px 0 auto;
}

.u-section-3 .u-text-5 {
  margin: -67px auto 0 48px;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 513px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 280px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 509px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 760px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 499px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1151px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 13px;
    margin-bottom: 36px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 663px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 442px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 46px;
  margin-bottom: 46px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 26px auto 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 150px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 26px auto 0;
}

.u-section-4 .u-line-1 {
  transform-origin: center top 0px;
  position: absolute;
  top: 1px;
  left: 0;
  height: 359px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 200px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  width: 87px;
  height: 87px;
  margin: 27px auto 0;
  padding: 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 200px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  width: 87px;
  height: 87px;
  margin: 27px auto 0;
  padding: 0;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 200px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  width: 87px;
  height: 87px;
  margin: 27px auto 0;
  padding: 0;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 200px;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  width: 113px;
  height: 113px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 723px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 124px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 124px;
  }

  .u-section-4 .u-line-1 {
    transform-origin: left center 0px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 165px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 165px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 165px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 165px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 126px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 126px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 126px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 126px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 669px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 378px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 378px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 378px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 378px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 529px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 119px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 238px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 238px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 238px;
  }
}